<!doctype html>
<html lang="en">
  <head>
    <title>Task manager</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
     
  <div class="contianer" style="padding:30px; ;">

    <div class="now" style="display:flex; margin-bottom:70px; justify-content:space-between;">
      <h4><</h4>
      <h4>...</h4>


    </div>

    <div class=" home" style="display:flex; margin-top:20px; background-color:#fff;border-radius:10px; box-shadow:0 0 2px; padding:5px;">
      <span style="height:60px; width:5px; background-color:blue; margin-left:10px; border-radius:2px;"> </span>
      <div style="margin-left:10px;">
      <h4> General</h4> 
      <h6 class="text-muted">16 tasks</h6>
    </div>

    
    </div>

    <div class=" home" style="display:flex; margin-top:20px; background-color:#fff;border-radius:10px; box-shadow:0 0 2px; padding:5px;">
      <span style="height:60px; width:5px; background-color:aqua; margin-left:10px; border-radius:2px;"> </span>
      <div style="margin-left:10px;">
      <h4> Goals</h4> 
      <h6 class="text-muted">16 tasks</h6>
    </div>

    
    </div>



    <div class=" home" style="display:flex; margin-top:20px; background-color:#fff;border-radius:15px;box-shadow:0 0 2px; padding:5px;">
      <span style="height:60px; width:5px; background-color:coral;border-radius:2px;"> </span>
      <div style="margin-left:10px;">
      <h4> Meetings</h4>
      <h6 class="text-muted">6 tasks</h6>
    </div>

     
    </div>

      
    <div class=" home" style="display:flex; margin-top:20px; background-color:#fff;border-radius:15px;box-shadow:0 0 2px; padding:5px;">
      <span style="height:60px; width:5px; background-color:fuchsia;border-radius:2px;"> </span>
      <div style="margin-left:10px;">
      <h4>Tips</h4>
      <h6 class="text-muted">5 tasks</h6>
    </div>  

    
    </div>  
       <button type="button" style="width:260px;border-style:none;color:white; background-color:blue; border-radius:10px; margin-top:20px; font-size:12px; height:40px; text-align:center;"><span style="font-size:20px;">+</span> CREATE NEW GROUP </a>
        
       </div>
     
     
    
  </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>