<!doctype html>
<html lang="en">
  <head>
    <title>Taskme</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container" style="padding:30px;">
      <div style="display:flex; justify-content:space-between;">
        <h6 style="margin-left:10px; margin-top:10px;">......</h6>
        <h6 style="margin-left:10px; background-color:pink; width:40px; border-radius:40px; height:40px;"></h6>
      </div>
<h4><b>Wiki Lists<b></h4>


  
<div class="row">
  <div class="col-6" >
    <h6 style="background-color:orange; width:120px; height:80px; padding:20px;border-radius:10px;">newone</h6>
  </div>

  <div class="col-6">
    <h6 style="background-color:blue; width:120px; height:80px; padding:20px;border-radius:10px;">newone</h6>
  </div>

  <div class="col-6">
    <h6 style="background-color:brown; width:120px; height:80px; padding:20px;border-radius:10px;">newone</h6>
  </div>

  <div class="col-6">
    <h6 style="background-color:green; width:120px; height:80px; padding:20px;border-radius:10px;">newone</h6>
  </div>
</div>

   <h6 style="color:orange; margin-top:20px;"> Recently Opened >></h6>

   <div style="display:flex;">
    <h6 style="margin-left:10px; background-color:blue; width:40px; border-radius:40px; height:40px;"></h6>
    <h6 style="margin-left:10px; margin-top:10px;">Brand Guidline</h6>
  </div>
  <div style="display:flex;">
    <h6 style="margin-left:10px; background-color:pink; width:40px; border-radius:40px; height:40px;"></h6>
    <h6 style="margin-left:10px; margin-top:10px;">Brand Guidline</h6>
  </div>
  <div style="display:flex;">
    <h6 style="margin-left:10px; background-color:orange; width:40px; border-radius:40px; height:40px;"></h6>
    <h6 style="margin-left:10px; margin-top:10px;">Brand Guidline</h6>
  </div>

  <h6 style="color:orange; margin-top:20px;"> Target Goals <span style="font-size:20px;"> +</span> </h6>


   <div class="form-check" style="display:flex;" >
       <input type="radio"value="checkedValue" unchecked><h6 style="margin-top:5px; margin-left:5px;">Display value<h6>
      
     
   </div>
   
   <div class="form-check" style="display:flex; ">
       <input type="radio"value="checkedValue" unchecked><h6 style="margin-top:5px; margin-left:5px;">Display value<h6>
     
   </div>
   <div class="form-check" style="display:flex;"> 
       <input type="radio"value="checkedValue" unchecked><h6 style="margin-top:5px; margin-left:5px;">Display value<h6>
     
   </div>






   </div>




  


      







    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>