<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container" style="background-color:blue; height:150px;">
        <div style="display:flex; justify-content:space-between; padding:30px;">
            <h6 style="color:#fff; margin-top:10px;"><</h6>
            <span style="background-color:gray; width:40px; height:40px; border-radius:40px;">.</span>
        </div>

        <h5 style="padding:10px; color:#fff;"><b>Add Task</b></h5>

    </div>
    <div style=" display:flex;padding:20px;">
        <span style="background-color:gray; width:5px; height:40px;">.</span>
    <h5 class="text-muted" style="padding:10px;"><b>Add Task</b></h5>
    </div>

    <div style=" display:flex;padding:10px; justify-content:space-between;">
        <span style="background-color:gray; width:70px; height:70px; border-radius:70px;">.</span>
        <span style="background-color:gray; width:70px; height:70px; border-radius:70px;">.</span>
        <span style="background-color:gray; width:70px; height:70px; border-radius:70px;">.</span>
        <span style="background-color:gray; width:70px; height:70px; border-radius:70px;">.</span>
    </div>

    <div style="display:flex; justify-content:space-between; padding:30px;">
        <h6 style=" margin-top:10px;">May 24, 2022.</h6>
        <span style="background-color:gray; width:40px; height:40px; border-radius:40px;">.</span>
    </div>

    <div style="display:flex;  padding:10px;">
      
         
         <input type="text" style="width:200px;"
           class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
        
           <h6 style=" margin-top:10px; margin-left:30px;"><b>Begining</b></h6>
    </div>
    <div style="display:flex; padding:10px; ">
           
          
        <input type="text" style="width:200px;"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
     
        <h6 style=" margin-top:10px; margin-left:30px;"><b>End</b></h6>
     
     </div>
    
     <div style="display:flex; padding:10px; ">
           
          
        <a href="/calender"> <button type="button" style="width:345px; height:50px; background-color:blue; border-style:none; color:#fff; border-radius:10px;" >GET STARTED</button></a>
   

     
     </div>
    

    
</body>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>